* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice-container {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.dice-container > button {
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 1.75rem;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.controller {
    margin:1rem;
    margin-bottom: 0.1rem;
}
.controller .roll {
    width: 100%;
    appearance: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    border-radius: 5%;
    background-color: rgb(81, 86, 70);
    font-weight: bold;
    color:white;
    margin-bottom: 0.5rem;
}
.controller > div {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}
.controller .score {
    appearance: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 5%;
    background-color: rgb(34, 147, 98);
    font-weight: bold;
    color:white
}
.controller .reset {
    appearance: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 5%;
    background-color: red;
    font-weight: bold;
    color:white
}

html main > .target-number {
    border: none;
    cursor: pointer;
    color:rgba(243, 19, 19, 0.7);
    font-size: xxx-large;
    margin-bottom: -30px;
    background-color: #F5F5F5;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

pre {
    font-size: small;
    font-style: italic;
    font-weight: 700;
}